A {
 color:blue;
 font-weight:bold;
 cursor:pointer;cursor:hand;
 text-decoration:none;
}

A.header {
 font-size:100%;
}

A:hover {
 color:black;
 background:lightsteelblue;
}

A:visited         { text-decoration: none; 
                    color: #AA0088;
                  }
A.banner          { color  : #FFFFFF;
                    font-size : small;
                    text-decoration : none;
                  }
A.bblue           { color: #FFFFFF;
                    background-color: #9999FF;
                    font-size : small;
                    text-align: center;
                  }
A.bred            { color: #FFFFFF;
                    background-color: #FF6666;
                    font-size : small;
                    text-align: center;
                  }
H1                { color: #3366FF; 
                    font-family: sans-serif; 
                  }
H2                { //color: #3366FF; 
		    padding: 7px;
                    font-family: sans-serif; 
                    font-size:12pt;
		    background:lightsteelblue;	    
                  }
H3                { color: #3366FF; 
                    font-family: sans-serif; 
		    font-size:10pt;
                  }
H4                { color: #3366FF; 
                    font-family: sans-serif; 
                  }
INPUT             { background-color: white; }
P                 { font-family: sans-serif; }
SELECT            { background-color: white; }
TABLE             { padding: 0;
                    spacing: 0;
                    width: 100%;
                  }
TD                { font-family: sans-serif; 
                    padding: 0; 
	            font-size: small;
		  }
TH                { font-family: sans-serif; 
                    padding: 0; 
	            font-size: small;
                  }
TH.linkmenu       { 
                    font-family: sans-serif;
                    padding: 0;
                    font-size: 9pt;
                  }
.reset_button     {background-color: red;
	            color: yellow;           
                  }
.datatitle        { background-color: #FFEDDB; }
.databody         { background-color: #FFFF9E; }
.searchtitle      { background-color: #FFEDDB; }
.searchbody       { background-color: #FFFF9E; }
.settingstitle    { background-color: #DBFFDB; }
.settingsbody     { background-color: #FFFF9E; }
.uploadtitle      { background-color: #DBFFDB; }
.uploadbody       { background-color: #FFFF9E; }
.technicalinfo    { background-color: #FFFFFF; }
.toggle           { color: #3366FF; }
.error            { color: red; }
.note             { color: red; }
.pre              { font-family: monospace; }
.popup            { COLOR: #9F141A;
                    CURSOR: help;
                    TEXT-DECORATION: none
                  }
.track            {  text-align: left }

IMG.trackimg      {  
                       margin-top: -10px;
                       text-align: center;
                  }


.titlebar {
 background-color: powderblue;
}
.titlebar_inactive {
 background-color: gainsboro;
}

