html, body {
  margin: 0px; padding: 0px;
  font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif; font-size: 10
0%; /* NN4 */}

.indent {
  font-size: 80%;
  padding:10px,2px;
  position:relative;
  left:60px;
}

.PI {
  font-size: 80%;
  padding:10px,2px;
}


.subSection {
 width:100%;
 background-color:lightsteelblue;
 text-align:center
}

A.plain {
 text-decoration:none;
 color:black;
}

A {
 color:#666699;
 
/* #5f5050;
color:#6d5d5d;
color:#ad8d8c;
font-weight:bold;
*/
 cursor:pointer;
 text-decoration:none;
}

A.list {
 font-size:80%;	
}

A:hover {
 color:#f18620;
}

a.external , a.external:link, a.external:visited, a.external:active, a.external:hover {
  padding-right: 15px;
  white-space: nowrap; background: url('../img/external.png') right center no-repeat; }

.green {
 color:green;
 font-weight:bold;
}

.project {
 font-weight:bold;
 font-size:90%;
 position:absolute;
 padding-bottom:5px;
}
		
BODY {
  /*background:#d9d9ff;*/
  background:white;
  font-family:helvetica, sans-serif, arial;
}

#main {
 padding:10px;
 margin-left:5px;
 background-color:white;
/*
 background: url('/img/top_left_corner.png') top left no-repeat;
 height:100em;
*/
}

#main H3 {
 background:lightsteelblue;
 /*background:#FFBBFF;*/
 width:100%;
 text-align:center;
}

#main H4 {
 background:lightsteelblue;
/* background:#CCFFCC;*/
 width:100%;
 text-align:left;
}


.Links{
 border:2px solid #666699;
 padding:13px 6px 7px 6px;
 margin-top:18px;
 margin-bottom:10px;
 position:relative;
}

.Links H4{
 position:absolute;
 top:-6px;
 margin-top: -3px;
 margin-left: 10px;
 padding-left:5px;
 padding-right:5px;
 height:14px;
 font-size:85%;
 background:white;
}

UL {
 padding-left: 15px;
}

LI {
/* list-style: url(/img/reddot_small.gif) outside;*/
font-size:90%;
}

a img {
 border:none;
 color:#f18620;
}

/* for banner */

.myTable {
  display: table;
  background-color: #5f5050;
  border: 0;
}
.myTable a {
  display: table-row;
  vertical-align: middle;
  /*background-color: #ad8d8c;*/
}

.myTable a span {
  display: table-cell;
  vertical-align: middle;
  background-color: #5f5050;
}

.myTable a due {
  display: table-cell;
  vertical-align: middle;
  background-color: #f18620;
}

.myTable a tre {
  display: table-cell;
  vertical-align: middle;
  background-color: #ad8d8c;
}

/* NOT USED */

#container {
    display: table;
    }

  #row  {
    display: table-row;
    }

  #left {
    display: table-cell;
  vertical-align: middle;
  background-color: #5f5050;
    }

  #middle {
    display: table-cell;
  vertical-align: middle;
  background-color: #f18620;
    }
  #right {
    display: table-cell;
  vertical-align: middle;
  background-color: #ad8d8c;
    }
