html, body {
  margin: 0px; padding: 0px;
  font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif; font-size: 10
0%; /* NN4 */}

.PI {
  font-size: 80%;
}

.subSection {
 width:100%;
 background-color:lightsteelblue;
 text-align:center
}

A.plain {
 text-decoration:none;
 color:black;
}

A {
 color:blue;
 /*font-weight:bold;*/
 cursor:pointer;cursor:hand;
 text-decoration:none;
}

A.list {
 font-size:80%;	
}

A:hover {
 color:black;
}

a.external , a.external:link, a.external:visited, a.external:active, a.external:hover {
  padding-right: 15px;
  white-space: nowrap; background: url('../img/external.png') right center no-repeat; }

.green {
 color:green;
 font-weight:bold;
}

.project {
 font-weight:bold;
 font-size:90%;
 position:absolute;
 padding-bottom:5px;
}
		
BODY {
  background:#d9d9ff;
  font-family:arial, helvetica, sans-serif;
}

#main {
 padding:10px;
 margin-left:5px;
 background: url('/img/top_left_corner.png') top left no-repeat;
 height:100em;
 background-color:white;
 overflow:auto;
 position:relative;
}

#main H3 {
 /*background:lightsteelblue;*/
 background:#FFBBFF;
 width:100%;
 text-align:center;
}

#main H4 {
 background:#CCFFCC;
 width:100%;
 text-align:left;
}


.Links{
 border:2px solid #666699;
 padding:13px 6px 7px 6px;
 margin-top:18px;
 margin-bottom:10px;
 position:relative;
 width:175px;
}

.Links H4{
 position:absolute;
 top:-6px;
 margin-top: -3px;
 margin-left: 15px;
 padding-left:5px;
 padding-right:5px;
 height:14px;
 font-size:85%;
 background:#d9d9ff;
}

UL {
 padding-left: 15px;
}

LI {
 list-style: url(/img/reddot_small.gif) outside;
}
